###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#mongodb://MongoLab-e:ukADdCg.r5pkgZ3p0U0TueYJ7EI7DN8DoMmAnLIY_80-@ds048537.mongolab.com:48537/MongoLab-e